@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts  */
/* ------------------ */
/* cabin  */
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");
/* -------------- */
@font-face {
  font-family: Avantt;
  src: url("../public/font/avantt.otf");
}

/* smooth scrollbar  */
* {
  scroll-behavior: smooth;
}

/* scrollbar  */
.content-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #cbd5e1;
  border-radius: 1rem;
}

.content-scrollbar::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 1rem;
}

/* navigation scrollbar  */
.nav-scrollbar::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.nav-scrollbar::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 1rem;
}

/* swiper slider custom button CSS start */
.swiper-pagination-bullet {
  background-color: transparent !important;
  border: 2px solid black !important;
  width: 12px !important;
  height: 12px !important;
}
.swiper-pagination-bullet-active {
  background-color: black !important;
  width: 12px !important;
  height: 12px !important;
}
.swiper-pagination {
  display: flex;
  top: 40% !important;
  justify-content: start !important;
}
/* swiper slider custom button CSS END */

/* custom scroll bar CSS start */
.custom_scroll_bar::-webkit-scrollbar {
  width: 8px;
}
.custom_scroll_bar::-webkit-scrollbar-track {
  background: #fff4eb;
  border-radius: 15px;
}
.custom_scroll_bar::-webkit-scrollbar-thumb {
  background-color: #f2b277;
  border-radius: 15px;
}
/* custom scroll bar CSS END */
