/* =========================
Custom Input range 
=============================*/

/* Input range - chrome and safari */

.progress_bar {
  --range-progress: 0;

  -webkit-appearance: none;
  position: relative;
  background: #c9fef5;
  width: 100%;
  height: 8px;
  border-radius: 13px;
  cursor: pointer;
}

/* Input range - firefox */
.progress_bar::-moz-range-track {
  position: relative;
  background: #c9fef5;
  width: 100%;
  height: 8px;
  border-radius: 13px;
  cursor: pointer;
}

/* played progress length - Chrome & safari*/
.progress_bar::before {
  content: "";
  height: 8px;
  background: #00b4d8;
  width: var(--range-progress);
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px;
  position: absolute;
  top: 0;
  left: 0;
}

/* played progress length - firefox */
.progress_bar::-moz-range-progress {
  background: #00b4d8;
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px;
  height: 8px;
}

/* slider thumb - chrome and safari */
.progress_bar::-webkit-slider-thumb {
  /* -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: none;
  background-color: #cf8800;
  cursor: pointer;
  position: relative; */
  display: none;
}

/* dragging thumb - chrome and safari */
.progress_bar:active::-webkit-slider-thumb {
  transform: scale(1.2);
}

/* slider thumb - firefox */
.progress_bar::-moz-range-thumb {
  /* height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #cf8800;
  cursor: pointer;
  border: transparent;
  position: relative; */
  display: none;
}
/* dragging thumb - firefox */
.progress_bar:active::-moz-range-thumb {
  transform: scale(1.2);
}

/*! Volume  */
/* Input range - chrome and safari */

.volume_range {
  --range-progress: 0;

  -webkit-appearance: none;
  position: relative;
  background: #c9fef5;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  cursor: pointer;
}

/* Input range - firefox */
.volume_range::-moz-range-track {
  position: relative;
  background: #c9fef5;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  cursor: pointer;
}

/* played progress length - Chrome & safari*/
.volume_range::before {
  content: "";
  height: 2px;
  background: #00b4d8;
  width: var(--range-progress);
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

/* played progress length - firefox */
.volume_range::-moz-range-progress {
  background: #00b4d8;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  height: 2px;
}

/* slider thumb - chrome and safari */
.volume_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: none;
  background-color: #00b4d8;
  cursor: pointer;
  position: relative;
}

/* dragging thumb - chrome and safari */
.volume_range:active::-webkit-slider-thumb {
  transform: scale(1.2);
}

/* slider thumb - firefox */
.volume_range::-moz-range-thumb {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #00b4d8;
  cursor: pointer;
  border: transparent;
  position: relative;
}
/* dragging thumb - firefox */
.volume_range:active::-moz-range-thumb {
  transform: scale(1.2);
}
